@page "/musicas/{id:int}"
@inject MusicaService MusicaService

<NavBar/>
<div id=main>
@* <BarraDeBusca Titulo="Barra De Pesquisa de Musica"></BarraDeBusca> *@

    <section id="infoMusicas">
        <div id="nomeMusica" class="blocoMusica">
            <span id="titulo">@musicas[id-1].Titulo</span>
        </div>
        <div class="tomMusica">
            <span id="tom" class="blocoMusica">@musicas[id-1].Tom</span>
            <div class="responsivoAumentarDiminuir">
                <p id="aumentarTom" class="blocoMusica">+</p>
                <p id="diminuirTom" class="blocoMusica">-</p>
            </div>
        </div>
        <div class="blocoMusica" id="blocoLixeira">
            <img src="fotos/iconLixeixa.png" alt="icone lixeira" id="iconLixeira">
        </div>
        <div class="blocoMusica" id="blocoEditarMusica">
            <ModalAdicionarMusica _tituloModal="Editar Música" Id="@musicas[id-1].Id" Titulo="@musicas[id-1].Titulo" Tom="@musicas[id-1].Tom" Tempo="musicas[id-1].Tempo" Conteudo="@MusicaEmTexto"/>
            <img src="fotos/iconEditarMusica.png" alt="icone editar música" id="iconEditarMusica">
        </div>
    </section>
            
    @foreach (var secao in musicas[id-1].Secoes)
    {
        <div class="secoes">
            <section>
                <p id="TituloSecao">@secao.Titulo</p>
                <div class="Acordes">
                    @foreach (var acorde in secao.Acordes)
                    {    
                        <section class="notasContruidas">
                            <div class="tempo">@(ConstruirTempoEmTexto(acorde))</div>
                            <div class="notas">@(ConstruirNotaEmTexto(acorde))</div>
                        </section>
                    }
                </div>
            </section>
        </div>
    }

@* @foreach (var musica in musicas)
{
    <p style="color: whitesmoke;">Titulo: @musica.Titulo</p>

    foreach (var secao in musica.Secoes)
    {
        <p style="color: rgb(139, 122, 122);">@secao.Titulo</p>
        foreach (var acorde in secao.Acordes)
        {
            <span style="color: rgb(139, 122, 122);">@(ConstruirNotaEmTexto(acorde))</span>
        }
    }
} *@
</div>

@code {

    [Parameter]
    public int id { get; set; }

    public string MusicaEmTexto {get; set;} = string.Empty;

    private List<Musica> musicas = new List<Musica>();

    protected override void OnInitialized()
    {
        musicas = MusicaService.ObterMusicas();
        Escrever();
    }

    private string ConstruirNotaEmTexto(Acorde acorde)
    {
        if (string.IsNullOrEmpty(acorde.Baixo))
        {
            return acorde.Nota;
        }

        return $"{acorde.Nota}/{acorde.Baixo}";
    }

    private string ConstruirTempoEmTexto(Acorde acorde)
    {
        int acordeTempoInt = acorde.Tempo;
        string acordeTempoString = acordeTempoInt.ToString();
        return acordeTempoString;
    }

    private void Escrever(){
        foreach (var secao in musicas[id-1].Secoes) {
            MusicaEmTexto += $"[{secao.Titulo}]";
            MusicaEmTexto += "\n\n";

            foreach (var acorde in secao.Acordes) {    
                if (acorde.Baixo == "") {
                    MusicaEmTexto += $"{acorde.Nota}{acorde.Complemento}|{acorde.Tempo} ";
                } else {
                    MusicaEmTexto += $"{acorde.Nota}{acorde.Complemento}/{acorde.Baixo}|{acorde.Tempo} ";
                }
            }

            MusicaEmTexto += "\n\n";
            MusicaEmTexto += $"[/{secao.Titulo}]";
            MusicaEmTexto += "\n\n";
        }
    }
}